{% extends 'index.html' %}

{% block content %}

    <H1>Add Kunde</H1>

    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">

        {{form.hidden_tag()}}  

        {{form.name.label(class="form-label")}} 
        {{form.name(class="form-control")}}
        <br/>
        
        <select class="form-select" aria-label="Default select example">          
            <option selected>Choose Datenquelle</option>
            {% set count = 1 %}}
            {% for datenquellen in allDatenquelle %}          
                <option value="{{count}}">{{datenquellen.name}}</option>
                {% set count = count+1 %}
            {% endfor %}  
          </select>
        <br/>

        {{form.name(class="form-control")}}
        <br/>

        {{form.submit(class="btn btn-success")}}

    </form>
    </div>
{% endblock %}