{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Login</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br/>
        <br/>
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href= "{{url_for('register')}}">Register New User</a>
        </li>
        <style>
            .nav-link {
                color: red;
            }
        </style>

      </form>


    </div> 
{% endblock %}