{% extends 'base.html' %}

{% block content %}

    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Login</h2>
        {{ form.hidden_tag() }}
        <br/>
        Email-Address
        <br/>
        {{ form.email }}
        <br/>
        <br/>
        Password
        <br/>
        {{ form.password }}
        <br/>
        <br/>
        {{form.submit(class="btn btn-primary")}}
        <br/>
        <br/>
        <a class="text-danger" href="{{url_for('register')}}">Register new User</a>


      </form>


    </div> 
{% endblock %}